.card{
    height: 400px;
    width:320px;
    background: whitesmoke;
    border-radius: 18px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    font-family: Arial, Helvetica, sans-serif;
    justify-content: centre;
    align-items: center;
    display: flex;
    flex-wrap: wrap; 
    flex-direction: row;
}

.card-image{
    display: flex;
    width: 300px;
    height: 200px;
    background-size: cover;
    justify-content: center;
    align-items:center;
    flex-wrap: center;

}

.card-text{
    grid-area: text;
}

.card-image-location1{
    height: 100%

}